.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.reg{
    padding: 2rem;
    &__title{
        margin-bottom: 1rem;
    }
    &__form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        &-width {
            width: 100%;
        }
        &-button {
            margin-top: 2rem;
        }
    }
}

.reg__form-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
